<nav class="navbar">
    <div class="nav-container">
        <a href="home.html">
            <div class="nav-logo">
                <span class="logo-icon"><img src="../assets/icons/nurse.png" alt="Nursing Icon"></span>
                <div class="logo-text-wrapper">
                    <span class="logo-text">RetDem Procedures</span>
                    <span class="logo-subtext">2nd Year Subject Guide</span>
                </div>
            </div>
        </a>
        <div class="nav-items">
            <div class="nav-menu" id="navMenu">
                <a href="home.html" class="nav-link">Home</a>
                <a href="google-earth.html" class="nav-link">Map</a>
                <a href="blog.html" class="nav-link">Blog</a>
                <a href="vlog.html" class="nav-link">Vlog</a>
                <a href="about.html" class="nav-link">About</a>
                <a href="resources.html" class="nav-link">References</a>
            </div>
            <button id="darkModeToggle" class="btn btn-secondary" aria-label="Toggle dark mode"
                style="margin-left:1rem;"><i class="fa-solid fa-moon"></i></button>
            <div class="hamburger" id="hamburger" aria-label="Open navigation menu" role="button" tabindex="0">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</nav>